swagger: '2.0'
info:
  version: '0.0.1'
  title: "CRM"
  description: CRM is a simple API allowing end users to manage simple CRM items.
  license:
    name: Apache License v2
    url: https://github.com/wallymathieu/crm-site/blob/master/LICENSE
host: crm.gewalli.com
basePath: /
schemes:
- http
consumes:
- application/json
produces:
- application/json
paths:
  /contacts:
    x-summary: Contacts
    get:
      summary: List All contacts
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/Contact'
    post:
      description: >-
        You may create your own contacts using this action. It takes a JSON
        object containing the available fields for contacts.
      summary: Create a new contact
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ContactRequest'
      responses:
        201:
          description: ''
          schema:
            $ref: '#/definitions/Contact'
  /contacts/{contactId}:
    x-summary: A contact
    parameters:
    - name: contactId
      in: path
      description: The id of the contact
      required: true
      type: string

    get:
      summary: Get contact
      responses:
        200:
          description: Successful Response
          schema:
            $ref: '#/definitions/Contact'
        404:
          description: Could not find contact
    patch:
      summary: Update contact
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ContactRequest'
      responses:
        200:
          description: Successful Response
        404:
          description: Could not find contact

    delete:
      summary: Remove contact
      responses:
        204:
          description: Removed contact
        404:
          description: Could not find contact
  /contacts/{contactId}/contacts:
    x-summary: Associated contacts
    parameters:
    - name: contactId
      in: path
      description: The id of the contact
      required: true
      type: string
    get:
      summary: List all associated contacts
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/AssociatedContact'
  /contacts/{contactId}/contacts/{otherContactId}:
    x-summary: Associate contact
    parameters:
    - name: contactId
      in: path
      description: The id of the contact
      required: true
      type: string
    - name: otherContactId
      in: path
      description: The id of the other contact
      required: true
      type: string
    put:
      description: >-
        Associate a contact to another contact.
      summary: Associate contact with another contact
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ContactAssociateRequest'
      responses:
        200:
          description: Successful Response
  /contacts/{contactId}/activities:
    x-summary: Contact activities
    parameters:
    - name: contactId
      in: path
      description: The id of the contact
      required: true
      type: string
    get:
      summary: List all activities
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/Activity'
    post:
      description: >-
        Create a contact activity.
      summary: Create a new activity
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ActivityRequest'
      responses:
        201:
          description: ''
          schema:
            $ref: '#/definitions/Activity'
  /contacts/{contactId}/activities/{activityId}:
    x-summary: A contact activity
    parameters:
    - name: contactId
      in: path
      description: The id of the contact
      required: true
      type: string
    - name: activityId
      in: path
      description: The id of the activity
      required: true
      type: string
    get:
      summary: Get activity
      responses:
        200:
          description: Successful Response
          schema:
            $ref: '#/definitions/Activity'
        404:
          description: Could not find contact or activity
    patch:
      summary: Update activity
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ActivityRequest'
      responses:
        200:
          description: Successful Response
        404:
          description: Could not find contact or activity
    delete:
      summary: Remove activity
      responses:
        204:
          description: Removed activity
        404:
          description: Could not find contact or activity
  /contacts/{contactId}/comments:
    x-summary: Contact comments
    parameters:
    - name: contactId
      in: path
      description: The id of the contact
      required: true
      type: string
    get:
      summary: List All comments
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/Comment'
    post:
      description: >-
        Create a contact comment.
      summary: Create a new comment
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CommentRequest'
      responses:
        201:
          description: ''
          schema:
            $ref: '#/definitions/Comment'
  /contacts/{contactId}/comments/{commentId}:
    x-summary: A contact comment
    parameters:
    - name: contactId
      in: path
      description: The id of the contact
      required: true
      type: string
    - name: commentId
      in: path
      description: The id of the comment
      required: true
      type: string
    get:
      summary: Get comment
      responses:
        200:
          description: Successful Response
          schema:
            $ref: '#/definitions/Comment'
        404:
          description: Could not find contact or comment
    put:
      #description: "Update comment."
      summary: Update comment
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CommentRequest'
      responses:
        200:
          description: Successful Response
    delete:
      summary: Remove comment
      responses:
        204:
          description: Removed comment
        404:
          description: Could not find contact or comment
  /projects:
    x-summary: Projects
    get:
      summary: List All projects
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
    post:
      description: >-
        You may create your own projects using this action. It takes a JSON
        object containing the available fields for projects.
      summary: Create a new project
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ProjectRequest'
      responses:
        201:
          description: ''
          schema:
            $ref: '#/definitions/Project'
  /projects/{projectId}:
    x-summary: A project
    parameters:
    - name: projectId
      in: path
      description: The id of the project
      required: true
      type: string

    get:
      summary: Get project
      responses:
        200:
          description: Successful Response
          schema:
            $ref: '#/definitions/Project'
        404:
          description: Could not find project
    patch:
      summary: Update project
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ProjectRequest'
      responses:
        200:
          description: Successful Response
        404:
          description: Could not find project

    delete:
      summary: Remove project
      responses:
        204:
          description: Removed project
        404:
          description: Could not find project
  /projects/{projectId}/activities:
    x-summary: Project activities
    parameters:
    - name: projectId
      in: path
      description: The id of the project
      required: true
      type: string
    get:
      summary: List all activities
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/Activity'
    post:
      description: >-
        Create a contact activity.
      summary: Create a new activity
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ActivityRequest'
      responses:
        201:
          description: ''
          schema:
            $ref: '#/definitions/Activity'
  /projects/{projectId}/activities/{activityId}:
    x-summary: A project activity
    parameters:
    - name: projectId
      in: path
      description: The id of the project
      required: true
      type: string
    - name: activityId
      in: path
      description: The id of the activity
      required: true
      type: string
    get:
      summary: Get activity
      responses:
        200:
          description: Successful Response
          schema:
            $ref: '#/definitions/Activity'
        404:
          description: Could not find project or activity
    patch:
      summary: Update activity
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ActivityRequest'
      responses:
        200:
          description: Successful Response
        404:
          description: Could not find project or activity
    delete:
      summary: Remove activity
      responses:
        204:
          description: Removed activity
        404:
          description: Could not find project or activity
  /projects/{contactId}/comments:
    x-summary: Project comments
    parameters:
    - name: contactId
      in: path
      description: The id of the project
      required: true
      type: string
    get:
      summary: List All comments
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/Comment'
    post:
      description: >-
        Create a contact comment.
      summary: Create a new comment
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CommentRequest'
      responses:
        201:
          description: ''
          schema:
            $ref: '#/definitions/Comment'
  /projects/{projectId}/comments/{commentId}:
    x-summary: A project comment
    parameters:
    - name: projectId
      in: path
      description: The id of the project
      required: true
      type: string
    - name: commentId
      in: path
      description: The id of the comment
      required: true
      type: string
    get:
      summary: Get comment
      responses:
        200:
          description: Successful Response
          schema:
            $ref: '#/definitions/Comment'
        404:
          description: Could not find project or comment
    put:
      #description: "Update comment."
      summary: Update comment
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CommentRequest'
      responses:
        200:
          description: Successful Response
    delete:
      summary: Remove comment
      responses:
        204:
          description: Removed comment
        404:
          description: Could not find project or comment
definitions:
  Comment:
    title: Comment
    type: object
    properties:
      commentId: 
        type: string
        example: "235765789999345765"
      commentUri:
        type: string
        format: uri
        #example: "/contacts/24554354354355555/comments/235765789999345765"
      comment:
        type: string
        example: "Potential!"
  CommentRequest:
    title: Comment
    type: object
    properties:
      comment:
        type: string
        example: "Potential!"
    required:
      - comment
  Activity:
    title: Activity
    type: object
    properties:
      activityId: 
        type: string
        example: "439085790436709834679087"
      activityUri:
        type: string
        format: uri
        #example: "/contacts/24554354354355555/activities/439085790436709834679087"
      description:
        type: string
        example: "Call client!"
      at:
        type: string
        format: date-time
        example: "2017-07-21T17:32:28Z"
      tags:
        type: array
        items:
          type: string
        example: ["call"]
  ActivityRequest:
    title: Activity
    type: object
    properties:
      description:
        type: string
        example: "Call client!"
      at:
        type: string
        format: date-time
        example: "2017-07-21T17:32:28Z"
      tags:
        type: array
        items:
          type: string
        example: ["call"]
    required:
      - description
      - at
      
  Project:
    title: Project
    type: object
    properties:
      projectId: 
        type: string
        example: "564465465464222"
      projectUri:
        type: string
        format: uri
        example: "/projects/564465465464222"
      description:
        type: string
        example: Sell computer system
      due:
        type: string
        format: date-time
        example: "2020-07-21T17:32:28Z"
      tags:
        type: array
        items:
          type: string
        example: ["sale"]
      comments:
        type: array
        items:
          $ref: '#/definitions/Comment'
      activities:
        type: array
        items:
          $ref: '#/definitions/Activity'

  ProjectRequest:
    title: Project
    type: object
    properties:
      description:
        type: string
        example: "Sell computer system"
      due:
        type: string
        format: date-time
        example: "2020-07-21T17:32:28Z"
      tags:
        type: array
        items:
          type: string
        example: ["sale"]
    required:
      - description
      
  Contact:
    title: Contact
    type: object
    properties:
      contactId: 
        type: string
        example: "24554354354355555"
      contactUri:
        type: string
        format: uri
        example: "/contacts/24554354354355555"
      name:
        type: string
        example: Erik Eriksson
      phone:
        type: string
        format: tel
        example: "+1334444"
      email:
        type: string
        format: email
        example: "erik.eriksson@company.com"
      tags:
        type: array
        items:
          type: string
        example: ["lead"]
      comments:
        type: array
        items:
          $ref: '#/definitions/Comment'
      activities:
        type: array
        items:
          $ref: '#/definitions/Activity'

  AssociatedContact:
    allOf:
      - $ref: '#/definitions/Contact'
      - type: object
        properties:
          type:
            type: string
            example: lead

  ContactAssociateRequest:
    type: object
    properties:
      type:
        type: string
        example: lead

  ContactRequest:
    title: Contact Request
    type: object
    properties:
      name:
        type: string
        example: Erik Eriksson
      phone:
        type: string
        format: tel
        example: "+1334444"
      email:
        type: string
        format: email
        example: "erik.eriksson@company.com"
      tags:
        type: array
        items:
          type: string
        example: ["lead"]
    required:
      - name